<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Hepsiburada Test Suite" verbose="1" parallel="false">

    <test name="UI Tests">
        <parameter name="browser" value="chrome"/>
        <classes>
            <class name="uitestcases.UI_HepsiburadaTests"/>
        </classes>
    </test>
    <test name="UI Tests">
        <parameter name="browser" value="firefox"/>
        <classes>
            <class name="uitestcases.UI_HepsiburadaTests"/>
        </classes>
    </test>
    <test name="API Tests">
        <classes>
            <class name="apitestcases.API_TrelloServiceTests"/>
        </classes>
    </test>

</suite>
